.row {
    max-width: 960px;
    margin: 0 auto;
}
.row:after {
    content: '';
    display: table;
    clear: both;
}
.column {
    float: left;
    box-sizing: border-box;
}
.width-1 {
    width: 8.333%;
}
.width-2 {
    width: 16.666%;
}
.width-3 {
    width: 25%;
}
.width-4 {
    width: 33.333%;
}
.width-5 {
    width: 41.666%;
}
.width-6 {
    width: 50%;
}
.width-7 {
    width: 58.333%;
}
.width-8 {
    width: 66.666%;
}
.width-9 {
    width: 75%;
}
.width-10 {
    width: 83.333%;
}
.width-11 {
    width: 91.666%;
}
.width-12 {
    width: 100%;
}